<form class="gh-form" action="https://fda.up.railway.app/" method="get">
    <input class="gh-form-input" id="{{email_field_id}}" name="email" type="email" placeholder="jamie@example.com" required>
    <button class="gh-button" type="submit" aria-label="Subscribe">
        <span><span>Subscribe</span> {{> "icons/arrow"}}</span>
        {{> "icons/loader"}}
        {{> "icons/checkmark"}}
    </button>
</form>